.cart {
  margin: 30px auto;
  margin-bottom: 300px;
  width: 90%;
}

.cart__header {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.cart__item {
  border-bottom: 1px solid #aaa;
  display: flex;
  padding: 10px 0;
}

.cart__table {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  text-align: center;
  width: 100%;
}

.cart__table-title {
  border: 1px solid #333;
  border-radius: 10px 0 0 10px;
  padding: 15px 0;
  width: 75%;
}

.cart__table-qty {
  border: 1px solid #333;
  padding: 15px 0;
  width: 10%;
}

.cart__table-sub {
  border: 1px solid #333;
  border-radius: 0 10px 10px 0;
  padding: 15px 0;
  width: 15%;
}

.cart__img-div {
  width: 10%;
}

.cart__img-prod {
  height: 90px;
}

.cart__title {
  align-self: center;
  width: 65%;
}

.cart__qty {
  align-self: center;
  text-align: center;
  width: 10%;
}

.cart__qty button {
  margin: 0 10px;
}

.cart__sub {
  align-self: center;
  text-align: center;
  width: 15%;
}

.cart__btn-chk-div {
  display: flex;
  justify-content: end;
  width: 100%;
}

.cart__btn-chk {
  background-color: #4c6faf;
  border: none;
  border-radius: 5px;
  color: white;
  display: inline-block;
  font-size: 16px;
  margin-top: 55px;
  padding: 11px 32px;
  text-align: center;
  text-decoration: none;
}

.cart__btn-chk:hover {
  background-color: #284f97;
}

.cart__remove {
  align-items: center;
  display: flex;
  z-index: 100;
}

.cart__remove-btn {
  border: none;
  z-index: 100;
}

.cart__remove-btn img {
  cursor: pointer;
  width: 30px;
  z-index: 110;
}
