.details {
  margin: 30px auto;
  margin-bottom: 300px;
  width: 90%;
}

.details__header {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.details__product {
  display: flex;
  justify-content: center;
  margin: auto;
  width: 80%;
}

.details__shipping {
  width: 70%;
}

.details__left {
  margin-right: 50px;
  width: 90%;
}

.details__right {
  width: 100%;
}

.details__title {
  font-size: 24px;
  font-weight: 700;
}

.details__img {
  align-self: center;
  display: block;
  height: 300px;
}

.details__id {
  font-size: 18px;
  font-weight: 700;
}

.details__price {
  font-size: 24px;
  font-weight: 700;
}

.details__btn-add {
  background-color: #4c6faf;
  border: none;
  border-radius: 5px;
  color: white;
  display: inline-block;
  font-size: 16px;
  margin-top: 5px;
  padding: 11px 32px;
  text-align: center;
  text-decoration: none;
}

.details__btn-add:hover {
  background-color: #284f97;
}

